*{
    background-color: #FBEFEA;
    color: #0D0503;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.page-layout{
    width: 800px;
    background-color: #2996C2;
    margin: 20px auto;
    padding: 20px;
}

img{
    width: 600px;
    margin: 40px auto;
    display: block;
    border: 2px solid #FBEFEA;
    box-shadow: 14px 14px 7px #F3D1C4;
    
}

h1,
h2{
    background-color: #F3D1C4;
    padding: 17px;
    text-align: center;
    width: fit-content;
    margin: 10px auto;
    border-radius: 28%;
    border: 8px #0AC6F5 dotted;
}

h3{
    padding: 5px;
    text-align: center;
}

ol,
ul{
    padding: 10px;
    list-style-position: inside;
}

#odin:hover{
    color: #2996C2;
    text-transform: uppercase;  
}

#odin {
    background-color: #F3D1C4;
}

.disclaimer{
    border: 3px solid #0AC6F5;
    padding: 10px;
}